header#main-header {
  background: #fff;
  height: 72px;
  border-bottom: 1px solid #ddd;
}

header#main-header .header-content {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  height: 75px;
  padding: 0 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header#main-header .header-content #logo {
  height: 40px;
}

header#main-header .header-content #upload {
  height: 15px;
}